@import 'colors';

h6 {
  width: fit-content;
  padding: 8px;
  border-radius: 3px;
  font-size: 18px;
  color: $icon-black
}

h6.contains-username {
  background-color: $icon-black;
  color: white;
}

.score-card-outline {
  height: 200px;
  width: 1000px;
  transform: scale(0.25) translateX(-150%) translateY(-125%);
}

.points {
  position: absolute;
  display: flex;
  top: 45px;
  left: 35px;
  margin-left: 10px;
}

.points > li {
  margin-right: 3px;
}
