pkt-game-narrator, pkt-scores, pkt-answer-selection {
  position: absolute;
  display: block;
}

pkt-game-narrator {
  top: 0;
  left: 0;
}

pkt-scores {
  left: 760px;
  width: 300px
}

pkt-answer-selection {
  top: 200px;
  left: 265px;
}

pkt-poke-ball {
  display: block;
  position: absolute;
  top: 75px;
  left: 420px;
}

pkt-progress-pie {
  display: block;
  position: absolute;
  top: 60px;
  left: 645px;
  width: 50px;
  height: 50px;
}
