pkt-game-narrator, pkt-scores {
  position: absolute;
  display: block;
}

pkt-game-narrator {
  top: 0;
  left: 0;
}

pkt-scores {
  left: 760px;
  width: 300px
}

pkt-poke-ball {
  display: block;
  position: absolute;
  top: 75px;
  left: 420px;
}
