@import 'colors';

$fade-transition: opacity 1ms linear 1.15s;

$wave-width: 100px;
$wave-height: 120px;
$wave-translation-duration: .99s;

$wave-path-movement-d-step-1: "M 5 60 C 5 0 95 0 95 60 M 95 60 C 95 59.975 5 59.975 5 60";
$wave-path-movement-d-step-2: "M 5 60 C 5 0 95 0 95 60 M 95 60 C 95 57.975 5 57.975 5 60";
$wave-path-movement-d-step-3: "M 5 60 C 5 20 95 20 95 60 M 95 60 C 95 41.975 5 41.975 5 60";
$wave-path-movement-d-step-4: "M 5 60 C 5 20 95 20 95 60 M 95 60 C 95 39.975 5 39.975 5 60";

$wave-path-stroke-width-step-1: 6px;
$wave-path-stroke-width-step-2: 6px;
$wave-path-stroke-width-step-3: 6px;
$wave-path-stroke-width-step-4: 4px;

$wave-rotations: (
  'top-left': 315deg,
  'bottom-left': 225deg,
  'bottom-right': 135deg,
  'top-right': 45deg
);

.escape-animation-box {
  opacity: 1;
  transition: $fade-transition;
}

.escape-animation-box.moving {
  opacity: 0;
}

.wave {
  display: block;
  position: absolute;
  width: $wave-width;
  height: $wave-height;
  background-color: $invisible;
}

@mixin wave-transform($side, $translation: 0) {
  transform:
    rotateZ(map-get($wave-rotations, $side))
    translateY($translation);
}

@each $wave-direction in 'top-left', 'top-right', 'bottom-left', 'bottom-right' {

  .#{$wave-direction}-wave {
    @include wave-transform($wave-direction);
  }

  .moving .#{$wave-direction}-wave {
    @include wave-transform($wave-direction, $translation: -100px);

    animation:
      #{$wave-direction}-wave-movement $wave-translation-duration 1 ease-in-out;
  }

  @keyframes #{$wave-direction}-wave-movement {
    0% {
      @include wave-transform($wave-direction);
    }

    100% {
      @include wave-transform($wave-direction, $translation: -100px);
    }
  }
}

.wave path {
  fill: $icon-black;
  stroke: $icon-black;
  stroke-width: $wave-path-stroke-width-step-1;
  d: path($wave-path-movement-d-step-1);
  stroke-linecap: round;
}

.moving .wave path {
  d: path($wave-path-movement-d-step-4);
  fill: $faded-escape-wave-fill;
  stroke: $faded-escape-wave-stroke;
  stroke-width: $wave-path-stroke-width-step-4;
  animation: wave-path-movement .8s 1 ease-in-out;
}

@keyframes wave-path-movement {
  0% {
    d: path($wave-path-movement-d-step-1);
    fill: $icon-black;
    stroke-width: $wave-path-stroke-width-step-1;
  }

  15% {
    d: path($wave-path-movement-d-step-2);
    fill: $icon-black;
    stroke-width: $wave-path-stroke-width-step-2;
  }

  85% {
    d: path($wave-path-movement-d-step-3);
    stroke: $icon-black;
    stroke-width: $wave-path-stroke-width-step-3;
  }

  100% {
    d: path($wave-path-movement-d-step-4);
    fill: $faded-escape-wave-fill;
    stroke: $faded-escape-wave-stroke;
    stroke-width: $wave-path-stroke-width-step-4;
  }
}
