<div class="escape-animation-box" [class.moving]="animate">
  <svg
    class="top-left-wave wave"
    xml:space="preserve"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg">
    <path></path>
  </svg>
  <svg
    class="top-right-wave wave"
    xml:space="preserve"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg">
    <path></path>
  </svg>
  <svg
    class="bottom-right-wave wave"
    xml:space="preserve"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg">
    <path></path>
  </svg>
  <svg
    class="bottom-left-wave wave"
    xml:space="preserve"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    version="1.1"
    xmlns="http://www.w3.org/2000/svg">
    <path></path>
  </svg>
</div>
