// TODO UNIFY animations listed here and animations listed in
// answer-selection.component.ts

@import 'colors';

@mixin uncaptured-pokemon-dimensions {
  height: 100px;
  width: 100px;
  padding: 15px;
  border-radius: 65px;
}

@mixin uncaptured-pokemon-margins {
  margin: auto;
  margin-top: 0;
}

@mixin uncaptured-pokemon-colors {
  border: 1px solid white;
  background-color: white;
  * {
    transition: fill 1s linear;
    fill: $icon-black;
  }
}

@mixin uncaptured-pokemon {
  @include uncaptured-pokemon-dimensions();
  @include uncaptured-pokemon-margins();
  @include uncaptured-pokemon-colors();
  opacity: 1;
}

@mixin captured-pokemon-dimensions {
  height: 25px;
  width: 25px;
  padding: 5px;
}

@mixin captured-pokemon-margins {
  margin-top: 177px;
}

@mixin captured-pokemon-colors {
  border: 1px solid $icon-black;
  background-color: $icon-black;
  * {
    fill: white;
  }
}

@mixin captured-pokemon($opacity: 0) {
  @include captured-pokemon-dimensions();
  @include captured-pokemon-margins();
  @include captured-pokemon-colors();
  opacity: $opacity;
}

@mixin animate-pokemon-capture() {

  &.capturing {
    @include captured-pokemon($opacity: 0);
    animation: pokemon-capture 3.5s ease-in-out;
  }

  @keyframes pokemon-capture {
    0% {
      @include uncaptured-pokemon();
      opacity: 1;
    }

    29% {
      @include uncaptured-pokemon-dimensions();
      @include uncaptured-pokemon-margins();
      @include captured-pokemon-colors();
    }

    43% {
      @include captured-pokemon-dimensions();
    }

    50% {
      @include uncaptured-pokemon-margins();
    }

    67% {
      @include captured-pokemon-margins();
    }

    90% {
      opacity: 1;
    }

    91% {
      opacity: 0;
    }
  }
}

@mixin animate-pokemon-escape() {

    &.capturing.escaping {
      @include uncaptured-pokemon();
      animation: pokemon-escape 1.5s ease-in-out;
    }

    @keyframes pokemon-escape {
      0% {
        @include captured-pokemon($opacity: 1);
      }

      100% {
        @include uncaptured-pokemon();
      }
    }
}
