@import 'colors';
@import './answer-selection.component.animations.scss';

ul#answer-selection {

  display: flex;
  width: 442px;
  justify-content: space-around;
  .pokemon-image {
    height: 100px;
    width: 100px;
    padding: 15px;
    margin: auto;
    margin-top: 0;
    border: 1px solid white;
    border-radius: 65px;
    opacity: 1;
    @include animate-pokemon-capture();
  }

  li {
    position: relative;
    min-width: 132px;
  }

  pkt-poke-ball {
    display: block;
    transform: scale(0.5);
    position: absolute;
    left: 10.5px;
    top: 135px;

    &:hover {
      cursor: pointer;
    }
  }
}
