@import 'colors';

$selection-color-transition: 1s;
$selection-dimension-transition: 0.5s;
$selection-margin-transition: 0.6s;

ul#answer-selection {

  display: flex;
  width: 442px;
  justify-content: space-around;

  .pokemon-image {
    height: 100px;
    width: 100px;
    padding: 15px;
    margin: auto;
    margin-top: 0;
    border: 1px solid white;
    border-radius: 65px;
    transition:
      border $selection-color-transition linear,
      background-color $selection-color-transition linear,
      height $selection-dimension-transition ease-in-out $selection-color-transition,
      width $selection-dimension-transition ease-in-out $selection-color-transition,
      padding $selection-dimension-transition ease-in-out $selection-color-transition,
      margin-top $selection-margin-transition ease-in-out #{$selection-dimension-transition + $selection-color-transition + 0.25s};

    * {
      transition: fill 1s linear;
    }

    &.capturing {
      height: 25px;
      width: 25px;
      padding: 5px;
      margin-top: 177px;
      border: 1px solid $icon-black;
      background-color: $icon-black;
    }
    &.capturing * {
      fill: white;
    }
  }

  li {
    position: relative;
    min-width: 132px;
  }

  pkt-poke-ball {
    display: block;
    transform: scale(0.5);
    position: absolute;
    left: 10.5px;
    top: 135px;

    &:hover {
      cursor: pointer;
    }
  }
}
