// TODO UNIFY animations listed here and animations listed in
// answer-selection.component.ts

@import 'colors';

@mixin uncaptured-pokemon-colors {
  border: 1px solid white;
  background-color: white;
  * {
    fill: $icon-black;
  }
}

@mixin uncaptured-pokemon {
  height: 100px;
  width: 100px;
  padding: 15px;
  margin: auto;
  margin-top: 0;
  border: 1px solid white;
  background-color: white;
  border-radius: 65px;
  opacity: 1;

  * {
    fill: $icon-black;
  }
}

@mixin captured-pokemon-colors {
  border: 1px solid $icon-black;
  background-color: $icon-black;
  * {
    fill: white;
  }
}

@mixin captured-pokemon($opacity: 0) {
  height: 25px;
  width: 25px;
  padding: 5px;
  margin-top: 177px;
  @include captured-pokemon-colors();
  opacity: $opacity;
}

$selection-color-transition: 1s;
$selection-dimension-transition: 0.5s;
$selection-margin-transition: 0.6s;

@mixin animate-pokemon-capture() {
  transition:
    border $selection-color-transition linear,
    background-color $selection-color-transition linear,
    height $selection-dimension-transition ease-in-out $selection-color-transition,
    width $selection-dimension-transition ease-in-out $selection-color-transition,
    padding $selection-dimension-transition ease-in-out $selection-color-transition,
    margin-top $selection-margin-transition ease-in-out #{$selection-dimension-transition + $selection-color-transition + 0.25s},
    opacity 1ms linear 3249ms;

  * {
    transition: fill $selection-color-transition linear;
    fill: $icon-black;
  }

  &.capturing {
    @include captured-pokemon($opacity: 0);
  }

  @keyframes pokemon-capture {
    0% {
      @include uncaptured-pokemon();
    }

    50% {
      @include captured-pokemon-colors();
    }

    75% {

    }

    100% {

    }
  }
}

$escape-transistion: .5s;

@mixin animate-pokemon-escape() {

    &.capturing.escaping {
      @include uncaptured-pokemon();
      animation: pokemon-escape 1.5s ease-in-out;
    }

    @keyframes pokemon-escape {
      0% {
        @include captured-pokemon($opacity: 1);
      }

      100% {
        @include uncaptured-pokemon();
      }
    }
}
