// TODO UNIFY animations listed here and animations listed in
// answer-selection.component.ts

@import 'colors';

$selection-color-transition: 1s;
$selection-dimension-transition: 0.5s;
$selection-margin-transition: 0.6s;


@mixin animate-pokemon-capture() {
  transition:
    border $selection-color-transition linear,
    background-color $selection-color-transition linear,
    height $selection-dimension-transition ease-in-out $selection-color-transition,
    width $selection-dimension-transition ease-in-out $selection-color-transition,
    padding $selection-dimension-transition ease-in-out $selection-color-transition,
    margin-top $selection-margin-transition ease-in-out #{$selection-dimension-transition + $selection-color-transition + 0.25s},
    opacity 1ms linear 3249ms;

  * {
    transition: fill $selection-color-transition linear;
    fill: $icon-black;
  }

  &.capturing {
    height: 25px;
    width: 25px;
    padding: 5px;
    margin-top: 177px;
    border: 1px solid $icon-black;
    background-color: $icon-black;
    opacity: 0;
  }
  &.capturing * {
    fill: white;
  }
}

$escape-transistion: .5s;

@mixin animate-pokemon-escape() {

    &.capturing.escaping {
      height: 100px;
      width: 100px;
      padding: 15px;
      margin: auto;
      margin-top: 0;
      border: 1px solid white;
      border-radius: 65px;
      background-color: white;
      opacity: 1;

      animation: escape 1.5s ease-in-out;
    }
    &.capturing.escaping * {
      fill: $icon-black;
    }

    @keyframes escape {
      0% {
        height: 25px;
        width: 25px;
        padding: 5px;
        margin-top: 177px;
        border: 1px solid $icon-black;
        background-color: $icon-black;
        opacity: 1;
      }

      100% {
        height: 100px;
        width: 100px;
        padding: 15px;
        margin: auto;
        margin-top: 0;
        border: 1px solid white;
        border-radius: 65px;
      }
    }
}
