<svg
  class="pokeball"
  (click)="toggleOpenClose()"
  [class.rolling]="animateRoll"
  [class.open]="isOpen"
  xml:space="preserve"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  version="1.1"
  xmlns="http://www.w3.org/2000/svg"
  width="110"
  height="120"
  preserveAspectRatio="xMidYMid meet">

  <path
    class="top-circle"
    [attr.d]="topCircleD"
    stroke-width="5">
  </path>
  <path
    class="bottom-circle"
    [attr.d]="bottomCircleD"
    stroke-width="5">
  </path>

  <ellipse
    cx="56.25"
    class="button"
    rx="12.5"
    [attr.cy]="buttonHeight"
    [attr.ry]="buttonRadiusY"
    stroke-width="5">
  </ellipse>
</svg>
