@import 'colors';

.room-buttons {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.room-buttons > li {
  height: 200px;
  width: 200px
}

.room-buttons > li > .room-button {
  height: inherit;
  width: inherit;
}

.room-button {
  border: 1px solid $icon-black;
  border-radius: 5px;
}

.room-button:hover {
  cursor: pointer;
}

.button-image {
  margin: auto;
}

.button-image, .button-image > svg {
  height: 85%;
  width: 85%;
}
